FORMAT: 1A
HOST: https://api.xilnex.com/

# Core Data API V1 - Apps
## Scope and Concepts
Web bytes provides a complete API accessible via HTTPS. This API is the best 
way to intergrate website, e-commerce, server, mobile written in any programming 
language such as JavaScript, Ruby, Swift, Object-C. C#, Java, php, etc.

## Setup for REST API
For using this API you need send authenticated HTTP requests. Exists several 
way to do this:
* Send a HTTP header with include `Token: {api_token}` and `Dkey: {Dkey}`
, where `{api_token}` is your API token and `{dkey}` is your private key
![name](https://s15.postimg.org/oagoiyr7f/Screenshot_1.png)


Your API token and Dkey you can request from our comapny **api@webbytes.com.my**
by providing below
information in your email
* Company Name:
* Name:
* Purpose of the API:
    * Purpose:
    * Request action: `Read, Write, Update, Delete`
* Super admin email address:
* Api e-mail address :
* Api e-mail password : 

API e-mail address and password `You need to create a user on xilnex application, and
specific for API purpose only`

## Basic Usage
### Allowed HTTPs requests:
* `POST` - To create resource
* `PUT` - To update resource
* `GET` - Get a resource or list of resources
* `DELETE` - To delete resource

### Description Of Usual Server Responses:
* 200 `ok` - the request was successful
    * `ok` 
        * `true` mean success to process 
    * `status` - status of process
        * `SuccessQuery`
        * `SuccessInsert`
        * `SuccessDelete`
        * `SuccessUpdate`
    * `warning`
        * null
    * `error`
        * null
    * `data` - Json data response from Api
        * Object
    * `timestamp`
* 400 `Bad Request` - the request could not be understood or was missing required parameters.
    * `ok` 
        * `false` mean failed to process
    * `status` - status of process
    * `warning` - warning message return from server
    * `timestamp`
* 401 `Unauthorized` - authentication failed or user doesn't have 
permissions for requested operation.
* 500 `Internal server error` - server error

### Attributes
* Date: The standard is called ISO-8601 and the format is: `YYYY-MM-DDTHH:mm:ss.sssZ`
    * Example: `2017-08-08T08:40:51.000Z`.
    
#Group Sync
Sync api is use for intergration with your preferce e-commerce, like sync stock, sales, client etc.
one times the api will only return you 4k row of data only, then will need to make another call to 
get the rest of data. You will need to keep the last Timestamp and pass to us in your another call,
so api will return next group of data. 

Example
1. First time call to sync API
![name](https://s1.postimg.org/tdz2j7kxr/Untitled.png)

2. Return result from sync API, you will need to keep the lastTimestamp for next call
![name](https://s18.postimg.org/buividotl/Untitled.png)

3. Call APi with the lastTimestamp receive from last call
![name](https://s11.postimg.org/f5mdy2jyb/Untitled.png)

4. repreat the step until receive zero row data from API
![name](https://s17.postimg.org/xks5tg0fj/Untitled.png)

## Group Client Sync

### /apps/v1/sync/clients

#### GET

This is api use to synced clients with your preferce e-commerce, api will return first 4k row of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "lastTimestamp": "0x00000000786166CC",
        "client": null,
        "clients": [
            {
                "id": 9220145,
                "alternateLookup": "045454",
                "priceScheme": "-1",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shipping": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "name": "Abu",
                "code": "",
                "title": "",
                "email": "",
                "type": "Member",
                "group": "",
                "registrationCode": "4545454",
                "gender": "female",
                "dob": "1995-01-13T00:00:00.000Z",
                "ic": "",
                "nationality": null,
                "createdBy": "01122455",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "2017-04-24T00:00:00.000Z",
                "pointValue": 94.85
            },
            {
                "id": 4556545,
                "alternateLookup": "5454554",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shipping": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "name": "Ah chin",
                "code": "45sd416fd6d",
                "title": "",
                "email": "asdad56@gmail.com,my",
                "type": "Member",
                "group": "Member",
                "registrationCode": "654sd6f45s",
                "gender": "F",
                "dob": "1569-03-02T00:00:00.000Z",
                "ic": null,
                "nationality": null,
                "createdBy": null,
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "2017-06-13T00:00:00.000Z",
                "pointValue": 526456.07
            }
        }
    }

### /apps/v1/sync/clients?startTimeStamp={lastTimestamp}

#### GET

This is api use to synced clients with your preferce e-commerce, api will return you next group of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "lastTimestamp": "0x00000000786166CC",
        "client": null,
        "clients": [
            {
                "id": 9220145,
                "alternateLookup": "045454",
                "priceScheme": "-1",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shipping": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "name": "Abu",
                "code": "",
                "title": "",
                "email": "",
                "type": "Member",
                "group": "",
                "registrationCode": "4545454",
                "gender": "female",
                "dob": "1995-01-13T00:00:00.000Z",
                "ic": "",
                "nationality": null,
                "createdBy": "01122455",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "2017-04-24T00:00:00.000Z",
                "pointValue": 94.85
            },
            {
                "id": 4556545,
                "alternateLookup": "5454554",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shipping": {
                    "street": "",
                    "city": "",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "name": "Ah chin",
                "code": "45sd416fd6d",
                "title": "",
                "email": "asdad56@gmail.com,my",
                "type": "Member",
                "group": "Member",
                "registrationCode": "654sd6f45s",
                "gender": "F",
                "dob": "1569-03-02T00:00:00.000Z",
                "ic": null,
                "nationality": null,
                "createdBy": null,
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "2017-06-13T00:00:00.000Z",
                "pointValue": 526456.07
            }
        }
    }
    
## Group Sales Sync

### /apps/v1/sync/sales

#### GET

This is api use to synced sales with your preferce e-commerce, api will return first 4k row of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        lastTimestamp:”0x000000006BF8AB50”,
        "sale": null,
        "sales": [
                    {
                        "id": 23201718,
                        "dateTime": "2017-06-30T17:51:27.000Z",
                        "recipientName": null,
                        "clientId": null,
                        "clientName": "CASH",
                        "paid": 49.5,
                        "balance": 0,
                        "term": null,
                        "cashier": "Ooi Boon Jin",
                        "billingAddress": {
                            "street": null,
                            "city": null,
                            "state": null,
                            "zipcode": null,
                            "country": null
                        },
                        "shippingAddress": {
                            "street": null,
                            "city": null,
                            "state": null,
                            "zipcode": null,
                            "country": null
                        },
                        "shippingRemark": null,
                        "shipmentDateTime": null,
                        "salesPerson": "Ooi Boon Jin",
                        "shippingStatus": "NA",
                        "status": "COMPLETED",
                        "paymentStatus": "PAID",
                        "outlet": "090120161",
                        "confirmOutlet": null,
                        "remark": "",
                        "salesType": "Dine In",
                        "discountPercentage": 0,
                        "billDiscountAmount": 0,
                        "taxPercentage": 11,
                        "cost": 30,
                        "profit": 16.71,
                        "rounding": -0.02,
                        "recipientContact": null,
                        "netAmount": 49.5,
                        "grandTotal": 49.5,
                        "gstTaxAmount": 2.8056,
                        "exchangeRate": 0,
                        "foreignTotalAmount": 0,
                        "currencyCode": null,
                        "siteId": null,
                        "reference": null,
                        "shipmentProvider": null,
                        "items": [
                            {
                                "id": 23202980,
                                "salesDate": "2017-06-30T00:00:00.000Z",
                                "itemId": 129020582,
                                "itemCode": "Food1",
                                "alternateLookup": "",
                                "itemName": "Food1",
                                "itemType": "",
                                "model": "",
                                "description": "",
                                "brand": "",
                                "unitPrice": 14.15,
                                "quantity": 1,
                                "profit": 4.15,
                                "cost": 10,
                                "advanceDiscount": null,
                                "discountPercentage": 0,
                                "instoreLocation": "default",
                                "priceSchemes": {
                                    "manufacturerPrice": 0,
                                    "salePrice": 15,
                                    "employeePrice": 0,
                                    "wholesalePrice": 0,
                                    "customPrice": 0,
                                    "webPrice": 0,
                                    "webDealerPrice": 0,
                                    "cost": 10
                                },
                                "uniqueId": "",
                                "matrixId": "",
                                "matrixBarcode": "",
                                "matrixX": "",
                                "matrixY": "",
                                "salesPerson": "Ooi Boon Jin",
                                "subtotal": 15,
                                "taxCode": "SR",
                                "gstPercentage": 6,
                                "gstAmount": 0.85,
                                "gstInclusive": true,
                                "enterPrice": 15,
                                "scanCode": "",
                                "remark": null,
                                "deliveryQuantity": 0,
                                "subItems": null
                            },
                            {
                                "id": 23202981,
                                "salesDate": "2017-06-30T00:00:00.000Z",
                                "itemId": 129020583,
                                "itemCode": "Food2",
                                "alternateLookup": "",
                                "itemName": "Food2",
                                "itemType": "1",
                                "model": "",
                                "description": "",
                                "brand": "",
                                "unitPrice": 14.15,
                                "quantity": 1,
                                "profit": 4.15,
                                "cost": 10,
                                "advanceDiscount": null,
                                "discountPercentage": 0,
                                "instoreLocation": "default",
                                "priceSchemes": {
                                    "manufacturerPrice": 0,
                                    "salePrice": 15,
                                    "employeePrice": 0,
                                    "wholesalePrice": 0,
                                    "customPrice": 0,
                                    "webPrice": 0,
                                    "webDealerPrice": 0,
                                    "cost": 10
                                },
                                "uniqueId": "",
                                "matrixId": "",
                                "matrixBarcode": "",
                                "matrixX": "",
                                "matrixY": "",
                                "salesPerson": "Ooi Boon Jin",
                                "subtotal": 15,
                                "taxCode": "SR",
                                "gstPercentage": 6,
                                "gstAmount": 0.85,
                                "gstInclusive": true,
                                "enterPrice": 15,
                                "scanCode": "",
                                "remark": null,
                                "deliveryQuantity": 0,
                                "subItems": null
                            }
                        ],
                        "collection": [
                            {
                                "amount": 49.5,
                                "reference": null,
                                "method": "cash",
                                "id": 23201686,
                                "clientID": "",
                                "invoiceID": "23201718",
                                "outlet": "090120161",
                                "availableBalance": 0,
                                "remarks": null,
                                "salesOrderId": null,
                                "isDeposit": false
                            }
                        ],
                        "cancelBy": null,
                        "cancelRemark": null,
                        "cancelOutlet": null,
                        "cancelDateTime": null
                    }
                ]

        "key": null,
        "status": null
        },
        "timestamp": 1499393494
    }


### /apps/v1/sync/sales?startTimeStamp={lastTimestamp}

#### GET

This is api use to synced sales with your preferce e-commerce, api will return you next group of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

        {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        lastTimestamp:”0x000000006BF8AB50”,
        "sale": null,
        "sales": [
                    {
                        "id": 23201718,
                        "dateTime": "2017-06-30T17:51:27.000Z",
                        "recipientName": null,
                        "clientId": null,
                        "clientName": "CASH",
                        "paid": 49.5,
                        "balance": 0,
                        "term": null,
                        "cashier": "Ooi Boon Jin",
                        "billingAddress": {
                            "street": null,
                            "city": null,
                            "state": null,
                            "zipcode": null,
                            "country": null
                        },
                        "shippingAddress": {
                            "street": null,
                            "city": null,
                            "state": null,
                            "zipcode": null,
                            "country": null
                        },
                        "shippingRemark": null,
                        "shipmentDateTime": null,
                        "salesPerson": "Ooi Boon Jin",
                        "shippingStatus": "NA",
                        "status": "COMPLETED",
                        "paymentStatus": "PAID",
                        "outlet": "090120161",
                        "confirmOutlet": null,
                        "remark": "",
                        "salesType": "Dine In",
                        "discountPercentage": 0,
                        "billDiscountAmount": 0,
                        "taxPercentage": 11,
                        "cost": 30,
                        "profit": 16.71,
                        "rounding": -0.02,
                        "recipientContact": null,
                        "netAmount": 49.5,
                        "grandTotal": 49.5,
                        "gstTaxAmount": 2.8056,
                        "exchangeRate": 0,
                        "foreignTotalAmount": 0,
                        "currencyCode": null,
                        "siteId": null,
                        "reference": null,
                        "shipmentProvider": null,
                        "items": [
                            {
                                "id": 23202980,
                                "salesDate": "2017-06-30T00:00:00.000Z",
                                "itemId": 129020582,
                                "itemCode": "Food1",
                                "alternateLookup": "",
                                "itemName": "Food1",
                                "itemType": "",
                                "model": "",
                                "description": "",
                                "brand": "",
                                "unitPrice": 14.15,
                                "quantity": 1,
                                "profit": 4.15,
                                "cost": 10,
                                "advanceDiscount": null,
                                "discountPercentage": 0,
                                "instoreLocation": "default",
                                "priceSchemes": {
                                    "manufacturerPrice": 0,
                                    "salePrice": 15,
                                    "employeePrice": 0,
                                    "wholesalePrice": 0,
                                    "customPrice": 0,
                                    "webPrice": 0,
                                    "webDealerPrice": 0,
                                    "cost": 10
                                },
                                "uniqueId": "",
                                "matrixId": "",
                                "matrixBarcode": "",
                                "matrixX": "",
                                "matrixY": "",
                                "salesPerson": "Ooi Boon Jin",
                                "subtotal": 15,
                                "taxCode": "SR",
                                "gstPercentage": 6,
                                "gstAmount": 0.85,
                                "gstInclusive": true,
                                "enterPrice": 15,
                                "scanCode": "",
                                "remark": null,
                                "deliveryQuantity": 0,
                                "subItems": null
                            },
                            {
                                "id": 23202981,
                                "salesDate": "2017-06-30T00:00:00.000Z",
                                "itemId": 129020583,
                                "itemCode": "Food2",
                                "alternateLookup": "",
                                "itemName": "Food2",
                                "itemType": "1",
                                "model": "",
                                "description": "",
                                "brand": "",
                                "unitPrice": 14.15,
                                "quantity": 1,
                                "profit": 4.15,
                                "cost": 10,
                                "advanceDiscount": null,
                                "discountPercentage": 0,
                                "instoreLocation": "default",
                                "priceSchemes": {
                                    "manufacturerPrice": 0,
                                    "salePrice": 15,
                                    "employeePrice": 0,
                                    "wholesalePrice": 0,
                                    "customPrice": 0,
                                    "webPrice": 0,
                                    "webDealerPrice": 0,
                                    "cost": 10
                                },
                                "uniqueId": "",
                                "matrixId": "",
                                "matrixBarcode": "",
                                "matrixX": "",
                                "matrixY": "",
                                "salesPerson": "Ooi Boon Jin",
                                "subtotal": 15,
                                "taxCode": "SR",
                                "gstPercentage": 6,
                                "gstAmount": 0.85,
                                "gstInclusive": true,
                                "enterPrice": 15,
                                "scanCode": "",
                                "remark": null,
                                "deliveryQuantity": 0,
                                "subItems": null
                            }
                        ],
                        "collection": [
                            {
                                "amount": 49.5,
                                "reference": null,
                                "method": "cash",
                                "id": 23201686,
                                "clientID": "",
                                "invoiceID": "23201718",
                                "outlet": "090120161",
                                "availableBalance": 0,
                                "remarks": null,
                                "salesOrderId": null,
                                "isDeposit": false
                            }
                        ],
                        "cancelBy": null,
                        "cancelRemark": null,
                        "cancelOutlet": null,
                        "cancelDateTime": null
                    }
                ]

        "key": null,
        "status": null
        },
        "timestamp": 1499393494
    }
    
## Group Stock Sync

### /apps/v1/sync/stock

#### GET

This is api use to synced stock with your preferce e-commerce, api will return first 4k row of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "lastTimestamp": "0x00000000772C2D62",
        "stocks": [
            {
                "itemCode": "56465as4d",
                "outlet": "sds-sd",
                "availableQuantity": 0,
                "onhandQuantity": 0
            },
            {
                "itemCode": "wewe",
                "outlet": "wew-wew",
                "availableQuantity": 0,
                "onhandQuantity": 0
            },
            {
                "itemCode": "qweeqw",
                "outlet": "asdad-3242",
                "availableQuantity": 0,
                "onhandQuantity": 0
            },
            {
                "itemCode": "234wfer",
                "outlet": "234242df-2342d",
                "availableQuantity": 0,
                "onhandQuantity": 0
            }
        }
    }

### /apps/v1/sync/stock?startTimeStamp={lastTimestamp}

#### GET

This is api use to synced stock with your preferce e-commerce, api will return you next group of data.

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    
+ Response 200 (application/json)

    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "lastTimestamp": "0x00000000772CBC3F",
        "stocks": [
            {
                "itemCode": "e1d12e
                "outlet": "1231312-sdfs",
                "availableQuantity": 0,
                "onhandQuantity": 0
            },
            {
                "itemCode": "f2
                "outlet": "asdad-12313",
                "availableQuantity": 0,
                "onhandQuantity": 0
            },
            {
                "itemCode": "asdad",
                "outlet": "112313-asdad",
                "availableQuantity": 0,
                "onhandQuantity": 0
            }
        }
    }